@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.countdown {
    display: flex;
    gap: 5px;
    justify-content: center;
    height: 2rem;
}

.presentaciones img {
    width: 150px;
    position: relative;
    border-radius: 50px;
}

.portada {
    height: 100%;
    background: url(img/foto2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sevillana', cursive;
    font-size: 2rem;
}

#letraE, #letraL, #letraI, #letraS, #letraA, #letraAND, #letraP, #letrae, #letraD, #letraR, #letraO {
    animation: entradaGeneral 2s;
    display: inline-block;
    opacity: 0;
    animation-fill-mode: forwards;
}

#letraL {
    animation-delay: 400ms;
    animation-duration: 2s;
}

#letraI {
    animation-delay: 200ms;
}

#letraS {
    animation-delay: 300ms;
}

#letraAND {
    animation-delay: 1.5s;
    animation-duration: 2s;
}

#letraP {
    animation-delay: 500ms;
}

#letrae {
    animation-delay: 100ms;
}

#letraD {
    animation-delay: 470ms;
}

#letraR {
    animation-delay: 150ms;
}

#letraO {
    animation-delay: 350ms;
}

@keyframes entradaGeneral {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}