body {
    text-align: center;
}

.countdown {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.presentaciones img {
    width: 150px;
    position: relative;
    border-radius: 50px;
}