* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.countdown {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.presentaciones img {
    width: 150px;
    position: relative;
    border-radius: 50px;
}

.portada {
    height: 100%;
    background: url(img/foto2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquina-izq-1, #esquina-der-1 {
    width: 30px;
    height: 10px;
    background-color: black;
    margin: 5px;
}

#esquina-izq-2, #esquina-der-2 {
    width: 10px;
    height: 30px;
    background-color: black;
    margin: 5px;
}